flow4.txt
[{"id":"ed4e42c0.a7a4b","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"9a737340.631e3","type":"http in","z":"ed4e42c0.a7a4b","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":190,"y":240,"wires":[["59a5c11.befeb4"]]},{"id":"25051d81.bbd4b2","type":"debug","z":"ed4e42c0.a7a4b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":340,"wires":[]},{"id":"4e434cb.2f01fb4","type":"http response","z":"ed4e42c0.a7a4b","name":"","statusCode":"","headers":{},"x":630,"y":240,"wires":[]},{"id":"70c9208d.570a2","type":"rpi-gpio in","z":"ed4e42c0.a7a4b","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":190,"y":400,"wires":[["fdfab621.18b228"]]},{"id":"fdfab621.18b228","type":"function","z":"ed4e42c0.a7a4b","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["25051d81.bbd4b2"]]},{"id":"59a5c11.befeb4","type":"function","z":"ed4e42c0.a7a4b","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["25051d81.bbd4b2","4e434cb.2f01fb4"]]}]