flow1.txt
[{"id":"a2376acf.1a8898","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"11af1289.ab9f5d","type":"rpi-gpio out","z":"a2376acf.1a8898","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":690,"y":260,"wires":[]},{"id":"62bbcc09.2184c4","type":"inject","z":"a2376acf.1a8898","name":"On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":420,"wires":[[]]},{"id":"533fd870.2bc4e8","type":"inject","z":"a2376acf.1a8898","name":"Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":500,"wires":[[]]},{"id":"14641e2b.9c5442","type":"debug","z":"a2376acf.1a8898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":140,"wires":[]},{"id":"89266836.59de08","type":"rpi-gpio in","z":"a2376acf.1a8898","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":90,"y":260,"wires":[["733b98bc.0eab18","14641e2b.9c5442"]]},{"id":"733b98bc.0eab18","type":"switch","z":"a2376acf.1a8898","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":260,"wires":[["ff2482df.e041a"],["c00cb6aa.7468b8"]]},{"id":"ff2482df.e041a","type":"change","z":"a2376acf.1a8898","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":220,"wires":[["11af1289.ab9f5d"]]},{"id":"c00cb6aa.7468b8","type":"change","z":"a2376acf.1a8898","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":300,"wires":[["11af1289.ab9f5d"]]}]