flow3.txt
[{"id":"8977df41.34484","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3bb7a71e.f5e818","type":"inject","z":"8977df41.34484","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":100,"wires":[["1c067e2f.c710a2"]]},{"id":"1c067e2f.c710a2","type":"function","z":"8977df41.34484","name":"Payload","func":"msg.headers={\n    deviceKey:\"ErJQU4MNQGwLnthh\"\n    };\n\nmsg.payload= \"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["88817cf2.29a0d"]]},{"id":"88817cf2.29a0d","type":"http request","z":"8977df41.34484","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/Dfr3Iwyb/datapoints.csv","tls":"","x":440,"y":220,"wires":[["c1303ef9.da152","82d850a3.49574"]]},{"id":"c1303ef9.da152","type":"http response","z":"8977df41.34484","name":"","statusCode":"","headers":{},"x":610,"y":220,"wires":[]},{"id":"82d850a3.49574","type":"debug","z":"8977df41.34484","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":320,"wires":[]}]