flow2.txt
[{"id":"d718ba52.303ff8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4110453e.36960c","type":"inject","z":"d718ba52.303ff8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":100,"wires":[["686f1d76.11a684"]]},{"id":"686f1d76.11a684","type":"function","z":"d718ba52.303ff8","name":"Payload","func":"msg.headers={\n    deviceKey:\"ErJQU4MNQGwLnthh\"\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["3872a319.82f22c"]]},{"id":"3872a319.82f22c","type":"http request","z":"d718ba52.303ff8","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/Dfr3Iwyb/datachannels/Temperature/datapoints.csv","tls":"","x":410,"y":200,"wires":[["9aaf5f7a.8eb76","2507d7ec.e1cb88"]]},{"id":"9aaf5f7a.8eb76","type":"http response","z":"d718ba52.303ff8","name":"","statusCode":"","headers":{},"x":610,"y":200,"wires":[]},{"id":"2507d7ec.e1cb88","type":"debug","z":"d718ba52.303ff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":280,"wires":[]}]