flow5.txt
[{"id":"e97b4d76.0a192","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"fd864e1b.b9ea","type":"http in","z":"e97b4d76.0a192","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":140,"y":200,"wires":[["2a234853.e7ff68","a6bdb1ca.254cf"]]},{"id":"2a234853.e7ff68","type":"function","z":"e97b4d76.0a192","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":260,"wires":[["93be70fe.1d409"]]},{"id":"93be70fe.1d409","type":"rpi-gpio out","z":"e97b4d76.0a192","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":450,"y":340,"wires":[]},{"id":"a6bdb1ca.254cf","type":"function","z":"e97b4d76.0a192","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["975f7e3a.5c84e","d4f4c3d1.31f9d"]]},{"id":"975f7e3a.5c84e","type":"http response","z":"e97b4d76.0a192","name":"","statusCode":"","headers":{},"x":690,"y":160,"wires":[]},{"id":"d4f4c3d1.31f9d","type":"debug","z":"e97b4d76.0a192","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":480,"wires":[]},{"id":"ad7fa7b8.b90008","type":"http in","z":"e97b4d76.0a192","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":130,"y":440,"wires":[["9ccef7f5.f0b158","be6d9e2e.fdaab"]]},{"id":"9ccef7f5.f0b158","type":"function","z":"e97b4d76.0a192","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":440,"wires":[["93be70fe.1d409"]]},{"id":"be6d9e2e.fdaab","type":"function","z":"e97b4d76.0a192","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":560,"wires":[["975f7e3a.5c84e","d4f4c3d1.31f9d"]]}]


